<!DOCTYPE html>
{% load static%}

<html lang="en">
    <head> 
        <meta charset="UTF-8"> 
        <title>QR Code Generator</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    </head>
    <style>
        body{
            background: linear-gradient(to right, #f32170,#ff6b08, #cf23cf)}

        
    </style>
    <body> 
        <center>
            
            <h1 style="font-family:monospace ;text-shadow: black;background-color: rgb(0, 0, 0);color:wheat;"><b>QR CODE GENERATOR</b></h1>
        </center>
        <div class="container shadow" style="width: 800px; margin-top: 5em; padding: 2em;background-image: linear-gradient(to right, #cf23cf,#ff6b08,#f32170);"> 
         
            <form method="post"> {% csrf_token %}
                <h4><i>Enter any text to generate a QR code</i></h4>   
                <div class="input-group mb-3"> 
                    <!-- <label class="input-group-text " id="inputGroup-sizing-default">QR Code Text:</label>  -->
                   <label class=" l input-group-text" style="background-color: black ;color:wheat;font-family: monospace;" >QR Code Text/Link  :</label>
                    <input type="text" class="form-control text-primary text-shadow aria-describedby="inputGroup-sizing-default name="qr_text" autofocus> 
                
                </div>   <br/>
                <div class="input-group mb-3"> 
                    <input type="submit" style="max-width: 200px; margin: auto" class="form-control btn-primary"> 
                </div> 
            </form> 
            <br/><br/>  <br/><br/>  
            <div class="input-group mb-3"> 
                <div style="margin: auto;background-color: #fff59a;border:2px solid white;"> {{ svg|safe }} 
                </div> 
            </div> 
        </div>
       
        <div style="background-color:#000000;text-align:center;padding:8px;margin-top:7px;color: wheat;">© developed by Akash</div>
</div>
    </body>
    </html>